{% extends "base.html" %}

{% block title %}Liste des Articles{% endblock title %}

{% block content %}
<h1>Liste des Articles</h1>
<form class="" action="" method="get">
   <select name="category" id="">
      {% for category in categories %}
      <option value="{{category.id}}"{% if category.id == selected_category.id %}selected{% endif %} >{{category.label}}</option>
      {% endfor %}
   </select>
   <button type="submit" name="">Filter</button>
</form>
<ul>
    {% for post in posts %}
    <li>[{{post.creation_date}}]
        <a href="{% url 'post-detail' post.slug %}">{{post.title}}</a>
    </li>
    {% endfor %}
</ul>
<div class="pagination">
   <span class="step-links">
       {% if posts.has_previous %}
           <a href="?page={{ posts.previous_page_number }}">previous</a>
       {% endif %}
       <span class="current">
           Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
       </span>
       {% if posts.has_next %}
           <a href="?page={{ posts.next_page_number }}">next</a>
       {% endif %}
   </span>
</div>
{% endblock content %}
