{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}post_edit{% endblock %}



{% block content %}


<h2>Post Edit : </h2>

<div class="col-md-12">

    <h3>Post Create</h3>

    <form class="form" action="{% url 'post-create'%}" method="post">

        {% csrf_token %}

        {% bootstrap_form form %}

    {% buttons %}

        <button type="submit" class="btn btn-primary">

            {% bootstrap_icon "star" %} Submit

        </button>

    {% endbuttons %}

    </form>

</div>


{% endblock %}
